
.vs/NotSoManager/v16/

NotSoManager/bin/Debug/

NotSoManager/bin/Release/

*.cache

NotSoManager/obj/Debug/

NotSoManager/obj/Release/

*.dll

packages/Newtonsoft.Json.12.0.3/lib/net35/

packages/Newtonsoft.Json.12.0.3/

packages/Costura.Fody.4.1.0/

packages/Fody.6.0.0/
